/********************************************************** Vars **********************************************************/
:root {
    --color-main: #00b9a0;
    --color-text: #FFF;
    --color-accent: #fc8c2a;
    --color-accent2: #007061;
    /* for border-radius*/
    --edginess: 25px;
}

/********************************************************** Basics **********************************************************/
body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--color-main);
    color: var(--color-text);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
li {
    font-family: 'Unbounded', cursive;
}

a,
a:visited {
    font-weight: bold;
    color: var(--color-accent);
    text-decoration: none;
    text-shadow: -0.5px 0.5px 0px var(--color-accent2);
}

article {
    padding-left: 20%;
    padding-right: 20%;
}

/********************************************************** Menu **********************************************************/
nav {
    margin: 2% 0 3%;
}

#menu {
    display: flex;
    gap: 10%;
    justify-content: center;
    padding: 0;
}

#menu li.menu-item {
    list-style-type: none;
}

li.menu-item a {
    background: linear-gradient(145deg, #00a790, #00c6ab);
    box-shadow: 10px 10px 25px #009d88, -10px -10px 25px #00d5b8;
    display: block;
    width: 10rem;
    padding: 0.5rem 0;
    border-radius: var(--edginess);
    text-align: center;
    border: 1px solid rgba(0, 213, 184, 0.1);
}

/********************************************************** Graphic **********************************************************/
section {
    display: grid;
    height: 100%;
    align-items: center;
}

#logo-title,
#portfolio-title {
    grid-area: 1 / 1 / 1 / 1;
    margin-left: 20%;
    font-size: xxx-large;
    display: block;
    width: 40%;
    text-shadow: -10px 20px rgba(0, 112, 97, 1), -20px 40px rgba(0, 102, 89, 0.75), -30px 60px rgba(0, 92, 80, 0.5), -40px 80px rgba(0, 92, 80, 0.25);
    z-index: 3;
}

#logo {
    grid-area: 1 / 1 / 1 / 1;
    width: 16%;
    padding-left: 60%;
    z-index: 2;
}

#logo-background {
    grid-area: 1 / 1 / 1 / 1;
    width: 100%;
    z-index: 1;
}

/********************************************************** Article **********************************************************/
article {
    border-radius: var(--edginess);
    background: linear-gradient(145deg, #00a790, #00c6ab);
    box-shadow: inset 40px 40px 80px #009d88,
        inset -40px -40px 80px #00d5b8;
    margin: 5% 10%;
    padding: 5% 10%;
    border: 1px solid rgba(0, 213, 184, 0.1);

}

span#rounded-corners {
    background: linear-gradient(145deg, #00c6ab, #00a790);
    box-shadow: 5px 5px 10px #009d88, -5px -5px 10px #00d5b8;
    display: inline-block;
    padding: 0.5em;
    border-radius: var(--edginess);
    border: 1px solid rgba(0, 213, 184, 0.1);
}

/********************************************************** Footer **********************************************************/
footer {
    text-align: right;
    font-size: small;
    position: fixed;
    display: contents;
}

footer p {
    padding: 1rem;
}

/*############################################################################# MEDIA QUERIES #############################################################################*/
@media screen and (max-width: 650px) {
    #menu {
        gap: 15%;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    #menu-item a {
        margin: 6% 0;
        width: 20rem;
    }

    #logo-title {
        font-size: xx-large;
        text-shadow: none !important;
    }

    span#rounded-corners {
        margin: 0.5em;
        padding: 0.2em;
    }
}

/*############################################################################# PORTFOLIO #############################################################################*/
section#portfolio-title-section {
    margin: 5% 20%;
    text-align: center;
    /* Maybe make it stand-out? */
}

article#portfolio-content {
    margin: 5%;
    padding: 5%;
    /* Change the background to a standard stand-out div. */
}