/* variables */
:root {
    --color-main: #00b9a0;
    --color-text: #FFF;
    --color-accent: #fc8c2a;
    --color-accent2: #007061;
    /* for border-radius*/
    --edginess: 25px;
}

/* basic stuff */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--color-main);
    color: var(--color-text);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Unbounded', cursive;
}

a,
a:visited {
    color: var(--color-accent);
    text-decoration: none;
}

article {
    padding-left: 20%;
    padding-right: 20%;
}

/* menu */
#menu {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

#menu li {
    list-style-type: none;
}