/********************************************************** Vars **********************************************************/
:root {
    --color-main: #00b9a0;
    --color-text: #FFF;
    --color-accent: #fc8c2a;
    --color-accent2: #007061;
    /* for border-radius*/
    --edginess: 25px;
}

@-webkit-keyframes slide-in-blurred-tr {
    0% {
        -webkit-transform: translate(1000px, -1000px) skew(-80deg, -10deg);
        transform: translate(1000px, -1000px) skew(-80deg, -10deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes slide-in-blurred-tr {
    0% {
        -webkit-transform: translate(1000px, -1000px) skew(-80deg, -10deg);
        transform: translate(1000px, -1000px) skew(-80deg, -10deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

/********************************************************** Basics **********************************************************/
li.menu-item a,
article,
span#rounded-corners,
footer p,
article#portfolio-content,
li.record {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--color-main);
    color: var(--color-text);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
li {
    font-family: 'Unbounded', sans-serif;
}

a,
a:visited {
    font-weight: bold;
    color: var(--color-accent);
    text-decoration: none;
    text-shadow: -0.5px 0.5px 0px var(--color-accent2);
}

article {
    padding-left: 20%;
    padding-right: 20%;
}

/********************************************************** Menu **********************************************************/
nav {
    margin: 2% 0 3%;
}

#menu {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#menu li.menu-item {
    list-style-type: none;
}

img#menu-logo {
    width: auto;
    height: 5vw;
}

li.menu-item a {
    background: linear-gradient(145deg, #00a790, #00c6ab);
    box-shadow: 10px 10px 25px #009d88, -10px -10px 25px #00d9bcEE;
    display: block;
    width: 10rem;
    padding: 0.5rem 0;
    border-radius: var(--edginess);
    text-align: center;
    border: 1px solid #009d8820;
}

li.logo-item * {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}

li.logo-item a {
    width: initial;
}

/********************************************************** Graphic **********************************************************/
section {
    display: grid;
    height: 100%;
    align-items: center;
}

#logo-title,
#portfolio-title {
    grid-area: 1 / 1 / 1 / 1;
    margin-left: 20%;
    font-size: xxx-large;
    display: block;
    width: 40%;
    text-shadow: -10px 20px rgba(0, 112, 97, 1), -20px 40px rgba(0, 102, 89, 0.75), -30px 60px rgba(0, 92, 80, 0.5), -40px 80px rgba(0, 92, 80, 0.25);
    z-index: 3;
}

section#portfolio-title-section h1#portfolio-title {
    width: auto;
    margin-left: 0;
    display: inline;
    text-align: start;
}

#logo {
    grid-area: 1 / 1 / 1 / 1;
    width: 16%;
    padding-left: 60%;
    z-index: 2;
    -webkit-animation: slide-in-blurred-tr 1s cubic-bezier(.785, .135, .15, .86) both;
    animation: slide-in-blurred-tr 1s cubic-bezier(.785, .135, .15, .86) both;
}

#logo-background {
    grid-area: 1 / 1 / 1 / 1;
    width: 100%;
    z-index: 1;
}

/********************************************************** Article **********************************************************/
article {
    border-radius: var(--edginess);
    background: linear-gradient(145deg, #00a790, #00c6ab);
    box-shadow: inset 40px 40px 80px #009d88F0,
        inset -40px -40px 80px #00d9bcEE;
    margin: 5% 10%;
    padding: 5% 10%;
    border: 1px solid #009d8820;

}

span#rounded-corners {
    background: linear-gradient(145deg, #00c6ab, #00a790);
    box-shadow: 5px 5px 10px #009d88, -5px -5px 10px #00d9bcEE;
    display: inline-block;
    padding: 0.5em;
    border-radius: var(--edginess);
    border: 1px solid #009d8820;
}

/********************************************************** Footer **********************************************************/
footer {
    text-align: right;
    font-size: small;
    position: fixed;
    display: contents;
}

footer p {
    padding: 1rem;
    border-radius: var(--edginess) var(--edginess) 0 0;
    border-top: 1px solid #009d8820;
    box-shadow:
        /*-6px -9px 10px #00d9bcEE*/
        -20px -25px 25px #00d9bcEE;
}

/*############################################################################# MEDIA QUERIES #############################################################################*/
@media screen and (max-width: 650px) {
    #menu {
        gap: 15%;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    .menu-item a {
        margin: 6% 0;
        width: 20rem;
    }

    .logo-item {
        display: none;
    }

    #logo-title {
        font-size: xx-large;
        /*text-shadow: none !important*/
        ;
    }

    span#rounded-corners {
        margin: 0.5em;
        padding: 0.2em;
    }

    section {
        margin-bottom: 6vh;
    }
}

/*############################################################################# PORTFOLIO #############################################################################*/
section#portfolio-title-section {
    margin: 5% 20%;
    text-align: center;
    /* Maybe make it stand-out? */
}

article#portfolio-content {
    margin: 5%;
    padding: 5%;
    /* Change the background to a standard stand-out div. */
    background: var(--color-main);
    box-shadow: 5px 5px 10px #009d88, -5px -5px 10px #00d9bcEE;
    border: 1px solid #009d8820;
}

ol#portfolio-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    flex-direction: row;
    /*justify-content: space-evenly;
    align-items: stretch;*/
    justify-content: center;
    align-items: center;
}

/* Record */
li.record {
    display: block;
    border-radius: var(--edginess);
    box-shadow: 5px 5px 10px #009d88, -5px -5px 10px #00d9bcEE;
    border: 1px solid #009d8820;
    width: 180px;
    height: 20%;
    /*padding: 1%;*/
}

.record-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

a.record-link {
    height: 100%;
    padding: 7%;
}

img.record-img {
    width: auto;
    height: 100px;
}

/*############################################################################# CONTACT #############################################################################*/
article#contact-article {
    box-shadow: 5px 5px 10px #009d88, -5px -5px 10px #00d9bcEE;
    background: linear-gradient(145deg, #00c6ab, #00a790);
    border: 1px solid #009d8860;
}